.none {
    display: none !important;
}
.clear {
    &::before {
        clear: both;
    }
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-center {
    text-align: center;
}

a {
    outline: 0;
    color: #222;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: red;
    }
}
